/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }



html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #0f594d;
  background-color: #f2e6cd;
}
@media only screen and (min-width: 1048px) {
  body {
    /* hide horizontal scroll bar in IE */
    overflow-x: hidden;
  }
}

a {
  color: #93a748;
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

.top {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-weight: 800;
    font-size: .75em;
    padding: 0 32px;
    letter-spacing: 1px;
    z-index: 10000;
}

.top a {
    display: inline-block;
    color: #F15634;
    text-decoration: none;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}
.header {
  position: relative;
  height: 95%;
  background-color: rgb(35,35,35);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.header .copy {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background-color: rgba(35,35,35,.9);
  padding: 40px;

}
.header h1 {
  width: 90%;
  color: white;
  text-align: center;
  font-size: 2.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  margin-top:0px;
}

.header .blurb {
  font-weight: 500;
  width: 70%;
  margin: 0 auto;

}

@media only screen and (min-width: 768px) {
  .header {
   background: url(../img/bg.jpg) no-repeat center center fixed; 
  }
  .header h1 {
    font-size: 3.6rem;
  }
}

@media only screen and (max-width: 768px) {
  .header .copy, .header .blurb, .header h1{
    width: 100%;
    padding: 0px;
  }
}

.fixed-background {
  position: relative;
  padding: 3em 5% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.fixed-background h2, .fixed-background p {
  color: #f2e6cd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fixed-background h2 {
  font-size: 2.4rem;
  margin-bottom: 1em;
}
.fixed-background p {
  line-height: 1.6;
  font-family: "Merriweather", serif;
}
.fixed-background .light-background h2, .fixed-background .light-background p {
  color: #0f594d;
}
.fixed-background .content::after {
  /* phone image on small devices */
  content: '';
  display: block;
  width: 100%;
  padding: 60% 0;
  margin: 2em auto 0;
}
.fixed-background.img-1, .fixed-background.img-2, .fixed-background.img-3, .fixed-background.img-4, .fixed-background.img-5  {
  background-color: black;
}
.fixed-background.img-1 .content::after {
  background: url("../img/img-mobile-1.jpg") no-repeat;
  background-size: 100% auto;
}
.fixed-background.img-2 .content::after {
  background: url("../img/img-mobile-2.jpg") no-repeat;
  background-size: 100% auto;
}

.fixed-background.img-3 .content::after {
  background: url("../img/img-mobile-3.jpg") no-repeat;
  background-size: 100% auto;
}

.fixed-background.img-4 .content::after {
  background: url("../img/img-mobile-4.jpg") no-repeat;
  background-size: 100% auto;
}

.fixed-background.img-5 .content::after {
  background: url("../img/img-mobile-5.jpg") no-repeat;
  background-size: 100% auto;
}
@media only screen and (min-width: 768px) {
  .fixed-background {
    height: 100%;
    padding: 0;
  }
  .fixed-background h2 {
    font-size: 3.6rem;
    font-weight: 300;
  }
  .fixed-background p {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .fixed-background .content {
    width: 50%;
    position: absolute;
    left: 5%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .fixed-background .content::after {
    display: none !important;
  }
  .fixed-background.img-1 {
    background-image: url("../img/niticon.jpg");
  }
  .fixed-background.img-2 {
    background-image: url("../img/elizabeth.jpg");
  }
  .fixed-background.img-3 {
    background-image: url("../img/cyrus.jpg");
  }
  .fixed-background.img-4 {
    background-image: url("../img/may.jpg");
  }
  .fixed-background.img-5 {
    background-image: url("../img/cayla.jpg");
  }
}
@media only screen and (min-width: 1048px) {
  .fixed-background {
    background-attachment: fixed;
  }
  .fixed-background .content {
    width: 40%;
    left: 10%;
  }
}

.vertical-nav {
  position: fixed;
  z-index: 2;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: transparent url(../img/icon-arrow.svg) no-repeat center center;
  -webkit-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0.2s 0s;
}
.vertical-nav a.prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1200px) {
  .vertical-nav {
    display: block;
  }
}

.no-js .vertical-nav {
  display: none;
}
